// CONCERT INFOS CARD

.infos-concert {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  .lower {
    font-size: 0.8rem;
  }

}

.info-icon {
  padding-top: 3px;
  padding-right: 10px;
  color: $green;
}

.icon-plus:before {
  padding-right: 5px;
}
