#pending-works {
  height: calc(100vh - 485px);
}

#pending-invitations {
  min-height: 200px;
  height: calc(100vh - 380px);
}

#left-column {
  display: flex;
  flex-direction: column;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#calendar {
  font-size: 16px;
  line-height: 0.8;
}


#dashboard-wrapper {
  height: calc(100vh - 81px);
}


a  {
  font-size: 16px;
}
