#pending-works {
  height: 320px;
}

#pending-invitations {
  height: 500px;
}


#left-column {
  display: flex;
  flex-direction: column;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#calendar {
  font-size: 16px;
  line-height: 0.8;
}

#invitation_list {
  flex: 2;
}

#pending-box {
  flex: 2;
}

#content {
  height: 100vh;

}

