.musical-work-show {
  display: flex;
  align-items: flex-start;
}

.musical-work-title {
  margin-right: 5px;
}

// DIV NOIRE FOND
.work-edit {
  display: flex;
  flex-wrap: wrap;
  margin-left:  15px;
}


// DIV AVEC TOUS LES ELEMENTS
.main-box {
  display: flex;
}

// DIV DE L ICON
.icon-box {
  font-size: 70px;
  color: $medium-gray;
  padding-bottom: 70px;
}

// DIV LIGNE ET ADD INSTRUMENT BUTTON
.edit-box {
  // margin-left: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// DIV LIGNE INSTRUMENT
.edit-line .simple_form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

// DIV INPUT QUANTITE
.input-box, .work_instrument_quantity {
  width: 40px;
  padding-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
  .form-control.numeric {
    border: none;
    padding-right: 5px;
    background-image: none;
    border-radius: 0;
    height: 25px;
    padding-left: 5px;
  }
}

// DIV INSTRUMENT NAME
.edit-instrument {
  flex-grow: 1;
  padding-left: 5px;
}

// DIV UPLOAD / VIEW BUTTON
.view-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
}

.upload-button {
  min-width: 140px;
  background-color: $orange;
  border: 1px solid $orange;

}

.upload-button:hover {
    background-color: $orange;
    border: 1px solid $orange;
}

.eye-view-sheet {
  margin-right: 10px;
}
// DIV ADD INSTRUMENT BUTTON
.add-instrument {
  text-align: end;
}

// BUTTON ADD INSTRUMENT
.add-category-box, .add-template-box {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.button-selector {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  background-color: $green;
  border: 0;
  color: $ivory;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-selector:active, .button-selector:focus {
  outline: none;
}
