<%  @concerts = current_user.concerts.geocoded

    @markers = @concerts.map do |concert|
      {
        lat: concert.latitude,
        lng: concert.longitude
        infoWindow: render_to_string(partial: "info_window", locals: { concert: concert }),
        image_url: helpers.asset_url('marker_map.svg')
      }
      end %>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
