<h1>Pages#LANDING</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class='box'>
  <div class='invitation'>
    <div>
      <button type="submit" style="border: 5px">
      <%= image_tag('validate.svg', class: 'picto') %>
      </button>
    </div>
    <div>
      <p>test test</p>
    </div>
    <div>
      <p>test test</p>
    </div>
  </div>
  <div class='invitation'>
    <p>test test</p><p>test test</p><p>test test</p>
  </div>
</div>

