<h1>Pages#LANDING</h1>
<% concerts = Concert.all %>
<div class="row">
  <div class="col-3 box">
    <%= month_calendar(events: concerts, attribute: :start_at, end_attribute: :end_at) do |date, events| %>
      <% if events.count > 0 %>
        <% events.each do |event| %>
          <%= link_to concert_path(event) do  %>
            <%= date.day %>
          <% end %>
        <% end %>
      <% else %>
        <%= date.day %>
      <% end %>
    <% end %>
  </div>
</div>



