<div class="col-md-12 musical-work-show">
  <div class="wrapper">
    <div class="work-card">
      <div class="front">
        <h1>The Four Seasons of Buenos Aires</h1>
        <p>Astor Piazzolla<span>45 min.</span></p>
        <p class="note-work">Arranged by Claudio Dante D'Iorio in 2011. Set of four tango</p>
      </div>
      <div class="right">
        <h2>Composition</h2>
        <ul>
          <li class="icon icon-strings compose-icon"> Strings x 5</li>
          <li class="icon icon-drum compose-icon"> Percussion  x 1</li>
          <li class="icon icon-keyboard compose-icon"> Keyboard x2</li>
          <li class="icon icon-trumpet compose-icon"> Brass x3</li>
          <li class="icon icon-flute compose-icon"> Woodwinds x 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box dark_box work-edit">
    <div class="box work-box">
      <h3>Strings</h3>
      <div class="main-box">
        <div class="icon-box icon icon-strings"></div>
        <div class="edit-box">
          <div class="edit-line">
            <input type="number" placeholder="0">
            <p class="edit-instrument">Violin</p>
            <button class="upload-view">view the sheet</button>
          </div>
          <div class="add-instrument"></div>
        </div>
      </div>

    </div>
    <div class="box work-box">

    </div>
  </div>
</div>

