maxime.html.erb

<div class="col-md-4 col-md-8 musical-work-show">
  <div class="wrapper">
    <div class="work-card">
      <div class="front">
        <h1>The Four Seasons of Buenos Aires</h1>
        <p>Astor Piazzolla<span>45 min.</span></p>
        <p class="note-work">Arranged by Claudio Dante D'Iorio in 2011. Set of four tango</p>
      </div>
      <div class="right">
        <h2>Composition</h2>
        <ul>
          <li class="icon icon-strings">Strings x 5</li>
          <li class="icon icon-drum">Percussion  x 1</li>
          <li class="icon icon-keyboard">Keyboard x2</li>
          <li class="icon icon-trumpet">Brass x3</li>
          <li class="icon icon-flute">Woodwinds x 3</li>
        </ul>
        <button class="btn btn-success">Edit</button>
      </div>
    </div>
  </div>
  <div class="box work-edit">

  </div>
</div>

