maxime.html.erb


<div class="box dark_box col-md-4">
  <div class="title">
    <h2 class="box_title"><%= image_tag('musical_sheet.svg', class: 'title-icon') %> PENDING WORKS</h2>
  </div>
  <div class="search">
    <input type="text" class="pending-search search_bars" placeholder="search pending works">
    <button type="submit" class="search-button">
      <i class="fa fa-search"></i>
   </button>
  </div>
  <div class="scroll-card" id="pending-invitation">
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
  </div>
</div>
