maxime.html.erb

<!-- PENDING WORKS -->
<div class="box dark_box col-md-3">
  <div class="title">
    <h2 class="box_title"><%= image_tag('musical_sheet.svg', class: 'title-icon') %> PENDING WORKS</h2>
  </div>
  <div class="search">
    <input type="text" class="pending-search search_bars" placeholder="search pending works">
    <button type="submit" class="search-button">
      <i class="fa fa-search"></i>
   </button>
  </div>
  <div class="scroll-card" id="pending-invitations">
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
    <div class="box">
      <p>coucou</p>
      <p class="orange">music sheets</p>
    </div>
  </div>
</div>
<!-- END PENDING WORKS -->


<!-- CONCERT INFOS -->
<div class="box dark_box col-md-3">
  <div class="title">
    <h2 class="box_title">PARIS CLASSICAL 2020</h2>
  </div>
  <div class="infos-concert">
    <div class="info-icon icon icon-location"></div>
    <div class="adress-infos">
      <p>20 rue Franklin</p>
      <p>75006 PARIS</p>
    </div>
  </div>
  <div class="infos-concert">
    <div class="info-icon icon icon-agenda"></div>
    <div class="date-infos">
      <p>2020/01/20</p>
      <p>8:00 to 11:00pm</p>
    </div>
  </div>
  <div class="infos-concert">
    <div class="info-icon icon icon-note"></div>
    <div class="notes-infos">
      <p>Lorem ipsum blablablablablbalba
      blablablablab</p>
    </div>
  </div>
</div>
<!-- END CONCERT INFOS -->












