<div class="container">
  <h1>Musical Works</h1>

  <h1>orchestraa icons</h1>
  <p class="small">This font was created with<a href="http://fontastic.me/">Fontastic</a></p>
  <h2>CSS mapping</h2>
  <ul class="glyphs css-mapping">
    <li>
      <div class="icon icon-agenda"></div>
      <input type="text" readonly="readonly" value="agenda">
    </li>
    <li>
      <div class="icon icon-concert"></div>
      <input type="text" readonly="readonly" value="concert">
    </li>
    <li>
      <div class="icon icon-decline"></div>
      <input type="text" readonly="readonly" value="decline">
    </li>
    <li>
      <div class="icon icon-drum"></div>
      <input type="text" readonly="readonly" value="drum">
    </li>
    <li>
      <div class="icon icon-envelope"></div>
      <input type="text" readonly="readonly" value="envelope">
    </li>
    <li>
      <div class="icon icon-flute"></div>
      <input type="text" readonly="readonly" value="flute">
    </li>
    <li>
      <div class="icon icon-keyboard"></div>
      <input type="text" readonly="readonly" value="keyboard">
    </li>
    <li>
      <div class="icon icon-location"></div>
      <input type="text" readonly="readonly" value="location">
    </li>
    <li>
      <div class="icon icon-musical-sheet"></div>
      <input type="text" readonly="readonly" value="musical-sheet">
    </li>
    <li>
      <div class="icon icon-note"></div>
      <input type="text" readonly="readonly" value="note">
    </li>
    <li>
      <div class="icon icon-open-envelope"></div>
      <input type="text" readonly="readonly" value="open-envelope">
    </li>
    <li>
      <div class="icon icon-pause"></div>
      <input type="text" readonly="readonly" value="pause">
    </li>
    <li>
      <div class="icon icon-plus"></div>
      <input type="text" readonly="readonly" value="plus">
    </li>
    <li>
      <div class="icon icon-read-mail"></div>
      <input type="text" readonly="readonly" value="read-mail">
    </li>
    <li>
      <div class="icon icon-statistics"></div>
      <input type="text" readonly="readonly" value="statistics">
    </li>
    <li>
      <div class="icon icon-strings"></div>
      <input type="text" readonly="readonly" value="strings">
    </li>
    <li>
      <div class="icon icon-trumpet"></div>
      <input type="text" readonly="readonly" value="trumpet">
    </li>
    <li>
      <div class="icon icon-validate"></div>
      <input type="text" readonly="readonly" value="validate">
    </li>
  </ul>
  <h2>Character mapping</h2>
  <ul class="glyphs character-mapping">
    <li>
      <div data-icon="a" class="icon"></div>
      <input type="text" readonly="readonly" value="a">
    </li>
    <li>
      <div data-icon="b" class="icon"></div>
      <input type="text" readonly="readonly" value="b">
    </li>
    <li>
      <div data-icon="c" class="icon"></div>
      <input type="text" readonly="readonly" value="c">
    </li>
    <li>
      <div data-icon="d" class="icon"></div>
      <input type="text" readonly="readonly" value="d">
    </li>
    <li>
      <div data-icon="e" class="icon"></div>
      <input type="text" readonly="readonly" value="e">
    </li>
    <li>
      <div data-icon="f" class="icon"></div>
      <input type="text" readonly="readonly" value="f">
    </li>
    <li>
      <div data-icon="g" class="icon"></div>
      <input type="text" readonly="readonly" value="g">
    </li>
    <li>
      <div data-icon="h" class="icon"></div>
      <input type="text" readonly="readonly" value="h">
    </li>
    <li>
      <div data-icon="j" class="icon"></div>
      <input type="text" readonly="readonly" value="j">
    </li>
    <li>
      <div data-icon="k" class="icon"></div>
      <input type="text" readonly="readonly" value="k">
    </li>
    <li>
      <div data-icon="l" class="icon"></div>
      <input type="text" readonly="readonly" value="l">
    </li>
    <li>
      <div data-icon="m" class="icon"></div>
      <input type="text" readonly="readonly" value="m">
    </li>
    <li>
      <div data-icon="n" class="icon"></div>
      <input type="text" readonly="readonly" value="n">
    </li>
    <li>
      <div data-icon="o" class="icon"></div>
      <input type="text" readonly="readonly" value="o">
    </li>
    <li>
      <div data-icon="p" class="icon"></div>
      <input type="text" readonly="readonly" value="p">
    </li>
    <li>
      <div data-icon="q" class="icon"></div>
      <input type="text" readonly="readonly" value="q">
    </li>
    <li>
      <div data-icon="r" class="icon"></div>
      <input type="text" readonly="readonly" value="r">
    </li>
    <li>
      <div data-icon="s" class="icon"></div>
      <input type="text" readonly="readonly" value="s">
    </li>
  </ul>
</div>
