<h1 class="concert-title">Concerts</h1>
<div class="index-concert-works">
  <% @concerts.each do |concert|%>
    <ul>
  <div class="box">
      <li><h2> <%= concert.name %></h2></li>
      <li class="icon icon-concert"> <%= concert.location %></li>
      <li class="icon icon-location"> <%= concert.address %></li>
      <%= link_to "View concert details", concert_path(concert)%>
    </ul>
  <% end %>
  </div>
</div>
