<div class="col-md-12 musical-work-show">
  <div class="wrapper">
    <div class="work-card">
      <div class="front">
        <h1>The Four Seasons of Buenos Aires</h1>
        <p>Astor Piazzolla<span>45 min.</span></p>
        <p class="note-work">Arranged by Claudio Dante D'Iorio in 2011. Set of four tango</p>
      </div>
      <div class="right">
        <h2>Composition</h2>
        <ul>
          <li class="icon icon-strings compose-icon"> Strings x 5</li>
          <li class="icon icon-drum compose-icon"> Percussion  x 1</li>
          <li class="icon icon-keyboard compose-icon"> Keyboard x2</li>
          <li class="icon icon-trumpet compose-icon"> Brass x3</li>
          <li class="icon icon-flute compose-icon"> Woodwinds x 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box dark_box work-edit col-9">
    <% categories = [["Strings", "strings"], ["Brass", "trumpet"], ["Woodwinds", "flute"], ["Percussions", "drum"], ["Keyboards", "keyboard"]] %>
    <% categories.each do |category| %>
      <% if @work_instruments[category[0]].any? %>
        <%= render partial: 'shared/work_instrument', locals: {icon: category[1], category: category[0], work_instruments: @work_instruments[category[0]] } %>
      <% end %>
    <% end %>
    <% if @missing_categories.any? %>
      <div class="box work-box add-category-box col-6">
        <select name="" id="category-selector" class= "btn-category-selector">
          <option value="add-category">- Add category -</option>
          <% @missing_categories.each do |category| %>
            <option value="<%= category %>"><%= category %></option>
          <% end %>
        </select>
      </div>
    <% end %>
  </div>
</div>

