<div class="box text-center">Welcome back <span class="green">Igor!</span> Your latest invitation has been viewed 27 times.</div>
<div class="row">
  <div class="col-3">
    <div class="box"><h2>Pending works</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptas quam doloribus necessitatibus laborum, rem iusto quia deleniti fuga reiciendis iste, temporibus assumenda veritatis et facere dicta, eius recusandae nemo?</p>
    </div>
    <div class="box"><p>Calendar</p></div>
  </div>
  <div class="col-9">
    <div class="box">
      <h2>Invitations</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iste eaque, laborum, illum animi, eius corporis quo cumque modi asperiores, dolorem similique sed exercitationem iure natus nostrum ullam ex! Cupiditate!</p>
    </div>
    <div class="box">
      <h2>Musicians</h2>
      <p>BLA BLA BLA</p>
    </div>
  </div>
</div>

