.invitation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  margin: 10px;
  padding: 10px;
}

.action_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .description {
    padding-left: 15px;
    align-items: left;
  }

  .btn-validate {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(asset-path("validate.svg"));
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 0px;
    border:none;
    background-color: transparent;
    outline:none;
    text-decoration: none;
  }

  .btn-validate:hover {
    background-image: url(asset-path("validate_green.svg"));

  }

  .btn-decline {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(asset-path("decline.svg"));
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 0px;
    border:none;
    background-color: transparent;
    outline:none;
    text-decoration: none;
  }

  .btn-decline:hover {
    background-image: url(asset-path("decline_orange.svg"));
  }

  .icon_size {
  font-size: 28px;
  padding: 0px 10px;
  }
}

.description span {
      font-style: italic;
      font-weight: lighter;
      font-size: 110%;
    }
