.invitations-data {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.invitation-counter {
  display: flex;
}

.instrument-icon {
  font-size: 45px;
  padding-right: 5px;
}

.invitation-number {
  font-family: $headers-font;
  text-shadow: $drop-shadow;
  font-size: 80px;
  margin-top: -35px;
}

.invitation-total {
  font-family: $headers-font;
  text-shadow: $drop-shadow;
  font-size: 20px;
  margin-top: -5px;
}
