.musical-work-show {
  display: flex;
  align-items: flex-start;
}


// MUSICAL WORK INFOS

.wrapper{
  height: 480px;
  perspective: 800px;
  margin-top: 6px;
  }

.work-card{
  width: 320px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
  background-color: $dark-gray;
}

.work-card > div{
  position: absolute;
  width: 320px;
  height: 450px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{
  background-image: linear-gradient(180deg, rgba(43,49,53,100) 0%, rgba(92,91,94,0) 100%);
  transform: rotateY(0deg) translateZ(160px);
  border-radius: 34px 10px 0 0;
  padding: 0;
  width: 100%;
}

.right{
  background-image: linear-gradient(0deg, rgba(43,49,53,100) 0%, rgba(92,91,94,0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 10px 34px;
}

.work-card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.work-card:hover .front{
  opacity: 0;
}

.work-card:hover .right{
  opacity: 1;
}

.wrapper h1,h2{
  margin: 0;
  font-weight: 700;
  padding-bottom: 20px;
}

.wrapper p{
  margin: 0;
  font-weight: 300;
}

.wrapper span{
  margin-left: 13px;
  opacity: .55;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

ul{
  padding: 0;
  font-size: 16px;
  list-style: none;
}

li{
  padding-bottom: 15px;
  position: relative;
}

.note-work{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

// END MUSICAL WORK INFOS



// EDIT MUSICAL WORKS

 .work-edit {
  display: flex;

  // flex-wrap: wrap;
  // justify-content: space-between;
  // margin-left: 20px;
  // padding-right: 10px;
  // padding-left: 10px;
  // padding-bottom: 0;
  width: 100%;
  padding: 10px;
  margin: 0 15px;
  justify-content: space-around;
 }

.category-edit {
  margin-bottom: 0;
  margin-right: 5px;
  span {
    font-size: 60px;
  }
}

.edit-line {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.edit-setup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sheet-button {
  display: flex;
  margin-left: 50px;
  min-width: 150px;
  div {
    margin: auto;
  }
}

.qty-instrument {
  border-radius: 10px;
  width: 70px;
  text-align: center;
}

.add-works-category {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}

#btn-add-category {
  margin: auto;
}


// .input-button {
//   min-width: 200px;
// }

// .instrument-name {
//    min-width: 200px;

// }









