.navbar {
  padding: 0.1rem 0.3rem;
}

.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid $ivory;
  margin-bottom: 20px;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 300px;
  }

  .nav-link {
    text-transform: uppercase;
  }
}



