.navbar {
  padding: 0.1rem 0.3rem;
}

.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid $ivory;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
