.welcome-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: $dark-gray;
  box-shadow: $drop-shadow;
  border-radius: $border-radius;
}

.welcome {
  margin-bottom: 0px;
  font-family: $body-font;
  color: $ivory;
  text-shadow: $drop-shadow;
}

.username {
  color: $green;
}
