// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

*,
*::before,
*::after {
  vertical-align: middle;
  box-sizing: border-box;
}

body {
  background-color: $black;
  background-position: cover;
  color: $ivory;
  font-size: 18px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.green {
  color: $green;
}
.orange {
 color: $orange;
}
.gray {
 color: $medium-gray;
}


p {
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  text-shadow: 1px 1px 2px $black;
}

.container {
  height: 100vh;
  border: 3px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  border: 1px solid $orange;
}

::-webkit-scrollbar-track {
  background: $gray;
}

::-webkit-scrollbar-thumb {
  background: $orange;
}
